numpy~=1.21.4
pandas~=1.3.4
scikit-learn~=1.0.2
onnx~=1.12.0
skl2onnx~=1.10.4
sklearn~=0.0
onnxruntime~=1.12.1
prettytable~=2.5.0
torch~=1.12.1
matplotlib~=3.5.1
seaborn~=0.11.2
torch_xla
jpype1
networkx
torch_geometric